<component name="libraryTable">
  <library name="spring-android-rest-template-1.0.2.BUILD">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/tangyoubang/build/exploded-aar/ykdl/spring-android-plugin/unspecified/libs/spring-android-rest-template-1.0.2.BUILD.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>